################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcmePluralsight/AcmePluralsight/bin
/AcmePluralsight/AcmePluralsight/obj/Debug/AcmePluralsight.csproj.FileListAbsolute.txt
/AcmePluralsight/AcmePluralsight/obj/Debug/AcmePluralsight.csprojResolveAssemblyReference.cache
/AcmePluralsight/AcmePluralsight/obj/Debug/AcmePluralsight.dll
/AcmePluralsight/AcmePluralsight/obj/Debug/AcmePluralsight.pdb
/AcmePluralsight/AcmePluralsight/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AcmePluralsight/AcmePluralsight/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AcmePluralsight/AcmePluralsight/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
